* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 255, 220);
    
}


.header {
    position: fixed;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
}

.logo {
    margin-left: 35px;
    margin-top: 20px;
    color: rgb(255, 255, 240);
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 50px;
    margin-top: 20px;
}
.navbar a {
    color: rgb(255, 255, 240);
    transition: all 0.40s ease;
    padding: 10px 10px;
    border-radius: 50%;
    white-space: nowrap;
    margin-left: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 75px;
    height: 75px;

}
.navbar a:hover {
    background-color: rgba(255, 255, 240, 0.7);
    color: black;
}

.container > * {
    padding: 10px;
}
.container {
    margin: 0 50px;
    padding-top: 200px;
    display: grid;
    grid-template-areas:
            'header picture'
            'text picture';

}
.title {
    grid-area: header;
}

.text {
    grid-area: text;
}

.picture {
    grid-area: picture;
}

h1 {
    font-family: 'Outfit';
    font-size: 64px;
    font-weight: bold;
}

p {
    font-family: 'Outfit';
    font-size: 24px;
    font-weight: lighter;
}

.map h2 {
    text-align: center;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cmap {
    display: block;
    margin: 100px auto;
    position: relative;
}

.parks h2 {
    text-align: center;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: green;
}

.container_parks {
    display: grid;
    margin-bottom: 150px;
    grid-template-areas:
            'item1 item2'
            'item3 item4'
            'item5 item6'
            'item7 item8'
            'item9 item10'
            'item11 item12';           
}


.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
    padding: 25px;
    background-color: lightgreen;
}
.item3 {
    grid-area: item3;
    padding: 25px;
    background-color: aqua;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
    padding: 25px;
}
.item7 {
    grid-area: item7;
    padding: 25px;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
}
.item10 {
    grid-area: item10;
    padding: 25px;
}
.item11 {
    grid-area: item11;
    padding: 25px;
}
.item12 {
    grid-area: item12;
}



.container_parks > * {
    width: 50vw;
    height: 500px;
}

.container_parks img {
    width: 50vw;
    height: 500px;
}

h3 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    background-color: #e5f4e4;
    width: 400px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  .link {
    width: 320px;
    height: 80px;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    color: #bbb;
  }
  
  .link::placeholder {
    color: #bbb;
  }
  
  .submit {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 16px;
  }

  #submit:hover {
    background-color:rgb(212, 200, 127);
    cursor: pointer;
}

footer {
    background-color: green;
    margin-top: 50px;
    text-align: center;
    color: white;
    padding: 20px;
}

footer p {
    font-size: 14px;
}