* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 255, 220);
}

.container > * {
    padding: 10px;
    border: 10px solid black;
}
.container {
    display: grid;
    grid-template-areas:
            'header picture'
            'text picture';
    
}
.header {
    grid-area: header;
}

.text {
    grid-area: text;
}

.picture {
    grid-area: picture;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.anchor {
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    white-space: nowrap;
    transition: all 0.40s ease;
}

h1 {
    font-family: 'Outfit';
    font-size: 64px;
    font-weight: bold;
}

p {
    font-family: 'Outfit';
    font-size: 24px;
    font-weight: lighter;
}








.map img:hover {
    background-image: url("");
}

form {
    width: 33%;
    padding: 100px 20px;
    background-color: greenyellow;
    color: black;
    opacity: 0.7;
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
}

form input::placeholder {
    color: lightgrey;
}

#firstname:focus {
    width: 300px;
}

#submit:hover {
    box-shadow: 5px 5px 5px green;
    cursor: pointer;
}







footer {
    background-color: green;
}