* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 255, 220);
    
}

.header {
    position: fixed;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
}
.logo {
    margin-left: 35px;
    margin-top: 20px;
    color: rgb(255, 255, 240);
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 20%;
    margin-right: 50px;
    margin-top: 20px;
}
.navbar a {
    color: rgb(255, 255, 240);
    transition: all 0.40s ease;
    padding: 7px 10px;
    border-radius: 0.5rem;
    white-space: nowrap;
    margin-left: 15px;
}
.navbar a:hover {
    background-color: rgba(255, 255, 240, 0.7);
    color: black;
}

.container > * {
    padding: 10px;
}
.container {
    margin: 0 50px;
    padding-top: 150px;
    display: grid;
    grid-template-areas:
            'header picture'
            'text picture';

}
.title {
    grid-area: header;
}

.text {
    grid-area: text;
}

.picture {
    grid-area: picture;
}

h1 {
    font-family: 'Outfit';
    font-size: 64px;
    font-weight: bold;
}

p {
    font-family: 'Outfit';
    font-size: 24px;
    font-weight: lighter;
}


.map h2 {
    text-align: center;
    margin: 150px;
}

.cmap {
    text-align: center;
    margin-bottom: 150px;
}

.dots {
    position: absolute;
}



.map img:hover {
    background-image: url("");
}

form {
    width: 33%;
    padding: 100px 20px;
    background-color: greenyellow;
    color: black;
    opacity: 0.7;
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
}

form input::placeholder {
    color: lightgrey;
}

#firstname:focus {
    width: 300px;
}

#submit:hover {
    box-shadow: 5px 5px 5px green;
    cursor: pointer;
}

.parks h2 {
    text-align: center;
    margin: 150px;
}

.container_parks {
    display: grid;
    margin-bottom: 150px;
    grid-template-areas:
            'item2 item1'
            'item3 item4'
            'item6 item5'
            'item7 item8'
            'item10 item9'
            'item11 item12';
}

.item1 {
    grid-area: item1;
    padding: 10px;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
    padding: 10px;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
    padding: 10px;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
    padding: 10px;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
    padding: 10px;
}
.item10 {
    grid-area: item10;
}
.item11 {
    grid-area: item10;
    padding: 10px;
}
.item12 {
    grid-area: item10;
}

.container_parks > * {
    width: 50vw;
    height: 500px;
}

.container_parks img {
    width: 50vw;
    height: 500px;
}

footer {
    background-color: green;
    margin-top: 50px;
    text-align: center;
    color: white;
    padding: 20px;
}